body {
  background-color: #f2f2f2 !important;
}

:focus {
  outline: none;
}

.dropdown-menu {
  border: none !important;
  border-radius: 0.40rem !important;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
}

.rounded-lg {
  border-radius: 1.5rem !important;
}

.rounded-top {
  border-radius: 1.5rem 1.5rem 0px 0px !important;
}

.rounded-bottom {
  border-radius: 0px 0px 1.5rem 1.5rem !important;
}

.watch-video {
  width: 73% !important;
}

.other-videos {
  width: 25% !important;
}

.sub {
  border: 0;
  width: 100%;
  height:80px;
  pointer-events: none;
}

.channel-button {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  background-color: inherit;
  width: 100% !important;
  padding-top: 20px !important;
  padding-buttom 20px !important;
}

.channel-button:hover {
  background-color: transparent;
  color: white;
  text-decoration: none;
}

.tech-color, .tailosive-tech {
  background-color: #13A2FA !important;
}

.talks-color, .tailosive-talks {
  background-color: #DF43FC !important;
}

.gaming-color, .tailosive-gaming {
  background-color: #F44A42 !important;
}

.main-color, .tailosive-shorts {
  background-color: #30317F !important;
}

.music-color, .tailosive-music {
  background-color: #2CFB79 !important;
}

.food-color, .tailosive-food {
  background-color: #F2863A !important;
}

.movies-color, .tailosive-movie-reviews {
  background-color: #FBAB00 !important;
}

.podcasts-color, .tailosive-tech-podcast {
  background-color: #0F3365 !important;
}

.talks-podcast, .tailosive-talks-podcast {
  background-color: #864BF5 !important;
}

.bg-white {
  background-color: #f0f0f0 !important;
}

.card-white {
  background-color: #fff !important;
}

.card-black {
  background-color: #000 !important;
  color: #fff !important;
}

.dropcustom:hover {
  background-color: #35373a !important;
}
.dropborder {
 background-color: #565759 !important;
}

.bd-callout-white {
  background-color: #fff !important;
}

.video-group > .row {
  overflow-x: hidden;
  flex-wrap: nowrap;
  white-space: nowrap;
}
.video-group > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}
.row-scroll:hover, .row:active, .row:focus {
  overflow-x: scroll;
}
.row-scroll::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
  height: 7px;
  left: 10%;
  margin-top: 20px;
}
.row-scroll::-webkit-scrollbar-thumb {
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 15px;
  background-color: rgba(50,50,50,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#card {
    flex: 0 0 auto;
}

#videoplayer {
    margin: 0px auto;
    max-width: 100%;
}

#vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .display-1 {
    font-size: 4rem !important;
  }
}

@media (min-width: 1px) and (max-width: 762px) {
  #card {
      width: 100%;
  }

  .watch-video {
    width: 100% !important;
  }

  .other-videos {
    width: 100% !important;
  }
}

@media (min-width: 762px) and (max-width: 1000px) {
  #card {
      width: 50%;
  }
  .watch-video {
    width: 100% !important;
  }
  .other-videos {
    width: 100% !important;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  #card {
      width: 40%;
  }
}

@media (min-width: 1200px) {
  #card {
    width: 35%;
  }
}

@media (max-width: 575.98px) {
  #card {
    width: 298px !important;
    height: 137px !important;
    background-size: 298px 137px !important;
  }
  .small-h5 {
    font-size: 1rem !important;
  }
}
.list-group-item {
  border: none;
}
.card {
  border-radius: 1.5rem !important;
}
@media (prefers-color-scheme: dark) {
  .list-group-item {
    background-color: #000000 !important;
  }
  body {
    background-color: #171717 !important;
    color: #ffffff !important;
  }
  .text-muted {
    color: #8c8c8c !important;
  }
  .text-dark {
    color: #ffffff !important;
  }
  .card-white {
    background-color: #000000 !important;
  }
  .card {
    box-shadow: 0 1rem 3rem rgba(13,13,13) !important;
  }
  .nav-link {
    color: #ffffff !important;
  }
}
